[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW

# GTID para replicación más simple
gtid_mode = ON
enforce_gtid_consistency = ON
log_slave_updates = ON

# Ajustes básicos
default_authentication_plugin = mysql_native_password
